{% extends "base.html" %}
{% block title %}Hastalar Listesi{% endblock %}
{% block content %}
<div class="container">
  <h2 class="my-4">Hastalar Listesi</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="alert-container">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tarih</th>
          <th>Yaş</th>
          <th>Triaj</th>
          <th>Sonuç</th>
          <th>İşlemler</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td>
            <a href="{{ url_for('patient_detail', patient_id=row.id) }}" style="color: inherit">{{ row.date}}</a>
          </td>
          <td>{{ row.age }}</td>
          <td>{{ row.conclusion.triage_class }}</td>
          <td>
            {% if not row.conclusion.result %}
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" data-id="{{ row.id }}">
              Sonuç Ekle
            </button>
            {% else %}
            {{ row.conclusion.result }}
            {% endif %}
          </td>
          <td>
            <a href="{{ url_for('edit_patient', id=row.id) }}" class="btn btn-warning btn-sm">
              <i class="fas fa-edit icon"></i> <span class="d-none d-md-inline">Düzenle</span>
            </a>
            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-id="{{ row.id }}">
              <i class="fas fa-trash-alt icon"></i> <span class="d-none d-md-inline">Sil</span>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if total_pages > 1 and total_pages != page %}
    <div class="row justify-content-between mt-3">
        <div class="col-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if pagination.has_prev %}
                        <li class="page-item"><a class="page-link" href="?page={{ pagination.prev_num }}&per_page={{ pagination.per_page }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}
                    {% for page_num in pagination.iter_pages %}
                        {% if page_num == '...' %}
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                        {% elif page_num == pagination.page %}
                            <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}&per_page={{ pagination.per_page }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pagination.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ pagination.next_num }}&per_page={{ pagination.per_page }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-auto">
            <form method="get" class="form-inline">
                <label for="per_page" class="mr-2">Per Page:</label>
                <select name="per_page" id="per_page" class="form-control" onchange="this.form.submit()">
                    <option value="10" {% if pagination.per_page == 10 %}selected{% endif %}>10</option>
                    <option value="20" {% if pagination.per_page == 20 %}selected{% endif %}>20</option>
                    <option value="50" {% if pagination.per_page == 50 %}selected{% endif %}>50</option>
                </select>
            </form>
        </div>
    </div>
    {% endif %}

  </div>
  <a href="{{ url_for('download_excel_route') }}" class="btn btn-success">Excel İndir</a>
  <a href="{{ url_for('download_json_route') }}" class="btn btn-info">JSON İndir</a>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Hastayı Sil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{{ url_for('delete_patient') }}">
        <div class="modal-body">
          <input type="hidden" id="patient_id" name="id" />
          <div class="form-group">
            <label for="password">Şifre:</label>
            <input type="password" class="form-control" id="password" name="password" required />
          </div>
          <p>Bu hastayı silmek istediğinizden emin misiniz?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            İptal
          </button>
          <button type="submit" class="btn btn-danger">Sil</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Sonuç Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="">
        <div class="modal-body">
          <input type="hidden" id="edit_patient_id" name="id" />
          <div class="form-group">
            <label for="result">Sonuç:</label>
            <input type="text" class="form-control" id="result" name="result" required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            İptal
          </button>
          <button type="submit" class="btn btn-primary">Ekle</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $("#deleteModal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget);
    var id = button.data("id");
    var modal = $(this);
    modal.find(".modal-body #patient_id").val(id);
  });

  $("#editModal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget);
    var id = button.data("id");
    var modal = $(this);
    modal.find(".modal-body #edit_patient_id").val(id);
    modal.find("form").attr("action", "/edit-result/" + id);
  });
</script>

<style>
  .icon {
    width: 16px;
    height: 16px;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }

  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }

  .table tbody+tbody {
    border-top: 2px solid #dee2e6;
  }

  @media (max-width: 768px) {

    .table th,
    .table td {
      padding: 0.5rem;
    }
  }
</style>

{% endblock %}